/* Write your code here. */
/* Write your code here. */
*body {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
}
.app-list-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}
.notification-container {
  display: flex;

  align-items: center;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 15px;
}
.primary-bg-color {
  background-color: #0b69ff;
}
.success-bg-color {
  background-color: #2dca73;
}
.warning-bg-color {
  background-color: #ffb800;
}
.danger-bg-color {
  background-color: #ff0b37;
}
.icon {
  height: 24px;
  width: 25px;
  margin-right: 15px;
}
.message {
  color: #ffffff;
}
